$main-font: 'Karla', sans-serif;
$signature-font: 'Pinyon Script', cursive;

$white: #fefefe;
$dark: #020100;
$light: #ece5f0;
$dark-blue: #4a8fe7;
$light-blue: #59d2fe;
$dark-red: #721c24;
$light-red: #f8d7da;
